In [1]:
import pandas as pd
from pathlib import Path

import warnings
warnings.filterwarnings("ignore")

school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
school_count = len(school_data["school_name"].unique())
school_count

15

In [3]:
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [4]:
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [5]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
district_summary_df = pd.DataFrame([
    {"Total Schools": 15, "Total Students": 39170, "Total Budget": 82932329558, 
     "Average Math Score": 78.98537145774827, "Average Reading Score": 81.87784018381414, 
     "% Passing Math": 74.9808526933878, "% Passing Reading": 85.80546336482001, "% Overall Passing": 65.17232575950983
    }])

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [13]:
per_school_budget = school_data_complete.groupby("school_name").mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [14]:
per_school_capita =  per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
per_school_math = school_data_complete.groupby("school_name").mean()["math_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
per_school_reading = school_data_complete.groupby("school_name").mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
students_passing_math = school_data_complete[school_data_complete["math_score"]>=70]

school_students_passing_math = students_passing_math.groupby("school_name").size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [18]:
students_passing_reading = school_data_complete[school_data_complete["reading_score"]>=70]

school_students_passing_reading = students_passing_reading.groupby("school_name").size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [19]:
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [42]:
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [44]:
per_school_summary = pd.DataFrame({
    "Schools Type": school_types, "Total Students": per_school_counts, "Total School Budget": per_school_budget, 
     "Per Student Budget": per_school_capita, "Average Math Score": per_school_math, "Average Reading Score": 
     per_school_reading, "% Passing Math": per_school_passing_math, "% Passing Reading": per_school_passing_reading, 
     "% Overall Passing": overall_passing_rate})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)


per_school_summary

,Schools Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [ ]:
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending = False)
top_schools.head(5)

In [ ]:
bottom_schools = per_school_summary.sort_values(["% Overall Passing"], ascending = True)
bottom_schools.head(5)

In [ ]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_grade_math_scores = ninth_graders.groupby("school_name").mean()["math_score"] 
tenth_grader_math_scores = tenth_graders.groupby("school_name").mean()["math_score"] 
eleventh_grader_math_scores = eleventh_graders.groupby("school_name").mean()["math_score"] 
twelfth_grader_math_scores = twelfth_graders.groupby("school_name").mean()["math_score"] 

math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores, "10th": tenth_grader_math_scores, 
                                                      "11th": eleventh_grader_math_scores, "12th": twelfth_grader_math_scores})

math_scores_by_grade.index.name = None

math_scores_by_grade

In [ ]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_grade_reading_scores = ninth_graders.groupby("school_name").mean()["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby("school_name").mean()["reading_score"]
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name").mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name").mean()["reading_score"]

reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores, "10th": tenth_grader_reading_scores, 
                                                      "11th": eleventh_grader_reading_scores, "12th": twelfth_grader_reading_scores})

reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

reading_scores_by_grade

In [ ]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
 school_spending_df = per_school_summary.copy()

In [ ]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels, right=False)
school_spending_df

In [ ]:
spending_math_scores = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["% Overall Passing"]

In [ ]:
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, "Average Reading Score": spending_reading_scores, "% Passing Math": spending_passing_math, 
                                   "% Passing Reading": spending_passing_reading,"% Overall Passing": overall_passing_spending})

spending_summary

In [ ]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels, right=False)
per_school_summary

In [ ]:
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
size_summary = pd.DataFrame({"Average Math Score": size_math_scores, "Average Reading Score": size_reading_scores, "% Passing Math": size_passing_math, 
                                   "% Passing Reading": size_passing_reading,"% Overall Passing": size_overall_passing})


size_summary

In [ ]:
average_math_score_by_type = per_school_summary.groupby(["Schools Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["Schools Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["Schools Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["Schools Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["Schools Type"])["% Overall Passing"].mean()

In [ ]:
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type, "Average Reading Score": average_reading_score_by_type, 
                             "% Passing Math": average_percent_passing_math_by_type, "% Passing Reading": average_percent_passing_reading_by_type,
                             "% Overall Passing": average_percent_overall_passing_by_type})

type_summary